<!DOCTYPE html>
  <head>
    <title>Example 1</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
      <h1>Example 1</h1>
      <ul>
          <li><a href="admin/">Admin</a></li>
          <li><a href="ios_sensor_pack/">IOS Sensor Pack</a></li>
          <li><a href="accounts/login/">Login</a></li>
          <li><a href="accounts/logout/">Logout</a></li>
          <li><a href="accounts/password_change/">Change Password</a></li>
          <li><a href="accounts/password_reset/">Reset Password</a></li>
      </ul>
  </body>
</html>