<!DOCTYPE html>
  <head>
    <title>IOS Sensor Pack</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
      <h1>IOS Sensor Pack API's</h1>
      <ul>
          <li><a href="gravity/">Gravity</a></li>
          <li><a href="user_acceleration/">User Acceleration</a></li>
          <li><a href="attitude/">Attitude</a></li>
          <li><a href="magnetic_field/">Magnetic Field</a></li>
          <li><a href="location/">Location</a></li>
      </ul>
  </body>
</html>